body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}


#mnavb li{
    color: #333;
}

#mnavb li:hover {
    background-color: #9e0c04;
    transition: 0.5s background-color;
}

/* login section */

.form-group.has-search {
    width: 100%;
    float: right;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 0;
}
.has-search .form-control {
    padding-left: 4.375rem;
    height: 35px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    left: 7px;
    top: 7px;
    font-size: 18px;
}

/* Carouse slider */

.carousel-indicators li {
    width: 8%;
    border-radius: 0;
    height: 5px;
}
.carousel-indicators li.active {
    width: 8%;
    border-radius: 0;
    height: 5px;
}
.home-slider-left{
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 30px;
}
.home-slider-right {
    position: absolute;
    right: 15%;
    top: 45%;
    font-size: 30px;
}

#subheader{
    display: none;
}


/* Slick */
ul.slick-dots li {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 12px;
    width: 35px
}

ul.slick-dots li button{
    width: 100%;
    border: 0;
}

li.slick-active button {
    background: #850c06;
    border: 0;
    color: #fff;
}

.home-page-section{
    margin-top: 35px;
    margin-bottom: 35px;
}

.sub-header-wrapper {
    margin-top: 35px;
}

#mnavb li a {
    font-size: 13px;
}

.home-img-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.slick-slide img {
    width: 98%;
    height: auto;
    cursor: pointer;
}

.slick-slide img:hover {
    background-color: red;
}

button.slick-prev {
    position: absolute;
    top: 40%;
}

button.slick-next {
    position: absolute;
    top: 40%;
    right: 0;
}

/* Paginations */
.pagination li a{
    color: #333 !important;
}
.pagination .active span{
    background-color: #850c06;
    border-color: #850c06;
    cursor: pointer;
}


/*Home News */
.news-cards-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 355px;
}

.news-card {
    width: 23%;
    height: 300px;
    color: #000;
    border: 1px solid #850c06;
    padding: 10px 10px 10px 10px;
    margin: 1%;
    border-radius: 5px
}

.news-card:hover {
    background-color: #850c06;
    color: #fff;
    transition: 1.5s background-color;
    transition: 1.5s color;
    cursor: pointer;
}

.card-title {
  
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img {
    position: relative;
    overflow: hidden;
    height: 140px;
}

.card-img img{
    width: 100%;
    position: absolute;
    object-fit: contain;
    left: 0;
}

.card-text{
    
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Home Events */
.events-cards-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 530px;
}

.event-card {
    width: 23%;
    border: 1px solid #850c06;
    padding: 10px 10px 10px 10px;
    margin: 1%;
    border-radius: 5px
}

.event-card:hover {
    background-color: #850c06;
    color: #ffffff !important;
    transition: 1.5s background-color;
    transition: 1.5s color;
    cursor: pointer;
}

.filed-title {
    text-align: left !important;
    font-size: 12px;
    font-weight: bold;
}

.field{
    color: #850c06;
    transition: 1.5s color;
}


/* News Page */
#news-item-wrapper {
    display: flex;
    flex-wrap: wrap;
}


/* Events Page */
#events-item-wrapper{
    display: flex;
    flex-wrap: wrap;
}

/* Contact Page */
.cs-btn-submit input {
    background-color: #850c06 !important;
}

.cs-btn-submit input:hover {
    background-color: #9e0c04 !important;
}

/* inputs */
input[type="text"]::placeholder {
    text-align: left;
}

textarea::placeholder {
    text-align: left;
}

/* Scroll bar */
.scroll-box::-webkit-scrollbar {
    width: .4em;
}

.scroll-box::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
}

.cover-bar {
    position: absolute;
    background: #fff;
    height: 100%;
    top: 0;
    right: 0;
    width: .4em;
    -webkit-transition: all .5s;
    opacity: 1;

}

.scroll-bar-wrap:hover .cover-bar {
    opacity: 0;
    -webkit-transition: all .5s;
}


/* Media Quaries */

@media(max-width: 767px) {

  .sub-header-wrapper {
      margin-top: 25px !important;
  }

    .news-cards-container {
        max-height: 335px;
        overflow-y: scroll;
    }
    .events-cards-container {
        max-height: 535px;
        overflow-y: scroll;
    }
    .news-card {
        width: 100%;
    }
    .event-card {
        width: 100%;
    }
    .card-title {
    padding:10px 10px;
    }   
    .event-card{
        height: 435px !important;
    }
    .news-card{
        height:390px !important;
    }
    .staffcrd{
        height: 410px !important;
    }
}
